#navbar {
    width: 100%;
    background-color: #51adcf;
    display: flex;
    justify-content: space-around;
  }
  #logo {
    display: flex;
    align-self: center;
    justify-content: flex-start;
  }
  #img-logo {
    width: 200px;
  }
  #navbar ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 10px;
  }
  #navbar ul li {
    display: flex;
    align-self: center;
    margin: 10px;
    padding: 15px;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    
  }
  #navbar ul li a {
    text-decoration: none;
    color: aliceblue;
  }
  #form {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #form a {
    text-decoration: none;
    padding: 10px;
    align-self: center;
    font-size: 1.2rem;
    color: aliceblue;
  }
  #form form {
    align-self: center;
  }
  #navbar {
    width: 100%;
    background-color: #51adcf;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  #logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  #img-logo {
    width: 200px;
  }
  #navbar ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 10px;
  }
  #navbar ul li {
    display: flex;
    align-self: center;
    margin: 10px;
  }
  #navbar ul li a {
    text-decoration: none;
  }
  #form {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #form a {
    text-decoration: none;
    padding: 10px;
    align-self: center;
  }
  #form form {
    align-self: center;
  }
  