body,html{
    margin:0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #EFEDED;
}

.category{
    margin-top: 15%;
}
#book-category{
    display:grid;
    grid-template-columns: 50px;
    grid-gap:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#book-category p{
    border: 1px solid rgba(186, 182, 182, 0.54);
    border-radius: 30px;
    background: rgba(186, 182, 182, 0.54);  
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.books{
    background: #C4C4C4;
    margin:5%;
}
#col-books{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#col-books img{
    padding:30px;
}
#col-books img:hover{
    outline:3px solid #51ADCF;
}
@media only screen and (min-width:700px){
    #book-category{
        display:grid;
        grid-template-columns: 80px 80px 80px;
        grid-gap:20px;
    }
    
}